{% extends "base.html" %}
{% block title %} Wątek {% endblock %}
{% load static %}
<!-- This applies custom stylesheets for each module/template. -->
{% block template_stylesheets %}
<link rel="stylesheet" href="{% static 'css/forum_style.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'forum_all' %}">Powrót do forum</a>
<h2 class="forum-title">{{forum.tytulForum}}</h2>
<div class="post-container">
    {% for post in posts %}
    <div class="post-list-element">
        <div class="post-author-info">
            <img src="{% static 'img/avatar_placeholder.png' %}" alt="">
            <p>{{post.autor }}</p>
            <img class="vote-icon" src="{% static 'img/upvote-icon.png' %}" alt="" onclick="vote('{{ post.idPost }}', 'upvote')">
            <p id="vote-count-{{ post.idPost }}">{{ post.glosy }}</p>
            <img class="vote-icon" src="{% static 'img/downvote-icon.png' %}" alt="" onclick="vote('{{ post.idPost }}', 'downvote')">
        </div>
        <div class="post-content">
            <p>{{ post.dataDodaniaPostu|date:"d-m-Y H:i" }}</p>
            <p>{{post.trescPost}}</p>
            {% if post.obrazek %}
            <img class="post-image" src="{{ post.obrazek.url }}" alt="post media">
            {% endif %}
            {% if post.autor.idUzytkownik == 1 %}
            <div class="post-edit-delete"><p>Edytuj  |  Usuń</p></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="response-form">
    <h2>Odpowiedz</h2>
            <textarea class="post-textarea" name="trescPost" rows="5" placeholder="Wpisz odpowiedź..." required></textarea>
            <div class="file-upload">
                <label for="obrazek">Załącz obrazek (opcjonalnie)</label>
                <input type="file" name="obrazek" accept="image/*">
            </div>
            <button type="submit" class="submit-btn">Wyślij</button>
        </div>
    </form>
</div>

<script src="{% static 'js/vote_handler.js' %}"></script>

{% endblock %}

