.all-lists {
    padding: 2vh;
}

.green-text {
    color: rgb(47, 111, 76);
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.unordered-list {
    font-size: 1.2em;
    padding: 3vh;
    background-color: #e9e9e9;
    border-radius: 2vh;
    width: 50%;
    margin: 0 auto;
    box-shadow: 4px 4px 6px #ccc;
}

.unordered-list-element {
    display: flex;
    margin: 1vh 0;
}

.unordered-list-element-left {
    width: 70%;
    display: flex;
    align-items: center;
}

.unordered-list-element-right {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.manage-btn {
    background-color:#4b4b4b;
    color: white;
    margin: 1vh;
    padding: 0.5vh 1vh;
    border: 0;
    border-radius: 1vh;
}

.highlighted-text {
    font-weight: 700;
}

.centered-text {
    text-align: center;
}


.page-title {
    text-align: center;
    font-weight: bold;
}

.container, main {
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    width: 100vw;
    margin: 2em 0 0 0;
    padding: 0;
}

.element-checkbox {
    width: 2em;
    height: 2em;
}

.content-container {
    display: flex;
    width: 100%;
    margin: 0;
}

.left {
    box-sizing: border-box;
    width: 70%;
    padding: 2vw;
}

.right {
    box-sizing: border-box;
    width: 30%;
}

.block {
    padding: 2vh;

}

.content-text {
    font-size: 1.3em;
}

.margin-left {
    margin-left: 13vh;
}

.buttons {
    display: flex;
    flex-direction: column;
}


.action-button {
    margin: 1vh 0;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 555ms;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
    border-radius: 10px 50px;
    background: linear-gradient(90deg, rgb(151, 181, 124) 0%, rgb(47, 111, 76) 100%);
    font-weight: 100;
    border: 0px;
    font-size: 1.2em;
    font-weight: bold;
}

.action-button:hover{
        background: linear-gradient(90deg, rgb(101, 122, 82) 0%, rgb(34, 75, 52) 100%);
} 

.return-button {
    background: linear-gradient(90deg, rgb(175, 175, 175) 0%, rgb(104, 104, 104) 100%);
}



/* add from recipe */

.centered-title {
    margin: 2vh auto;
}

.centered-title h2 {
    text-align: center;
    font-weight: bold;
}


.scrollable-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    border: 2px solid black;
    height: 60vh;
    margin: 0 auto;
    padding: 1vh;
    overflow-y: auto;
}


.recipe-panel {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0.5vh;
}

.recipe-panel p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
} 

.recipe-image {
    width: 15vh;
}

.przepis-checkbox {
    width: 2em;
    height: 2em;
    margin: 2vh;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 2vh auto;
    width: 50%;
    /* align the buttons to the bottom of the screen */
}

.search {
    margin: 2vh auto;
    display: flex;
    justify-content: center;
}

.search > input {
    width: 30%;
}


/* configrm ingredients */
.recipe-cards {
    margin: 0 auto;
    width: 50%;
    height: 70vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;
    padding: 0.5vh;

}

.recipe-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowuje w poziomie */
    text-align: center; /* Wyśrodkowuje tekst w wewnętrznych elementach */
    padding: 1vh;
    margin: 0.5vh;
}


.recipe-card-name {
    font-size: 1.2em;
    font-weight: bold;
}

.recipe-card-checkbox {
    width: 1.2em;
    height: 1.2em;
    margin: 2vh;
}

.recipe-card-details {
    text-align: left;
}

.recipe-card-details td {
    padding: 0;
}

.recipe-card-details th {
    padding: 0;
}



/* table */

table.comicGreen {
    margin: 0 auto;
    border: 2px solid #4F7849;
    background-color: #EEEEEE;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

table.comicGreen td, table.comicGreen th {
    border: 1px solid #4F7849;
    padding: 3px 2px;
}

table.comicGreen thead td {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}

table.comicGreen tr:nth-child(even) {
    background: #CEE0CC;
}

table.comicGreen thead {
    font-size: 21px;
    font-weight: bold;
    color: #FFFFFF;
    background: #4F7849;
    background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    border-top: 1px solid #444444;
}

table.comicGreenthead td {
    font-size: 21px;
}