{% extends "base.html" %}
{% block title %} Moje listy zakupów {% endblock %}
{% load static %}
<!-- This applies custom stylesheets for each module/template. -->
{% block template_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
{% endblock %}

{% block content %}
<header>
    <h2 class="page-title">Lista zakupów</h2>
</header>
<main>
    <div class="content-container">
        <div class="left">
            <div class="table-content">
                
            </div>
            <table class="comicGreen">
                <colgroup>
                    <col span="1" style="width: 50%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                  </colgroup>
                <thead>
                <tr>
                <td>Nazwa</td>
                <td>Ilość</td>
                <td>Jednostka</td>
                <td></td>
                <td>Akcje</td>
                </tr>
                </tfoot>
                <tbody>
                    {% for element in elements %}
                    <tr>
                        <td>{{ element.nazwaElementu }}</td>
                        <td>{{ element.ilosc|floatformat:-2 }}</td>
                        <td>{{ element.jednostka.nazwaJednostki }}</td>
                        <td>
                            <input type="checkbox" 
                            name="element_{{ element.idElement }}" 
                            id="element_{{ element.idElement }}" 
                            class="element-checkbox"
                            {% if element.zaznaczony %}checked{% endif %}>
                        </td>
                        <td><a href="#" class="delete-btn" data-id="{{element.idElement}}">Usuń</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <div class="block">
                    <p class="content-text margin-left">Szybkie dodawanie</p>
                    <div class="quick-add">
                        <input type="text" id="listElementName" placeholder="Nazwa elementu">
                        <input type="number" id="listElementAmount" placeholder="Ilość">
                        <select id="listElementUnit">
                            {% for jednostka in jednostki %}
                                <option value="{{ jednostka.idJednostka }}">{{ jednostka.nazwaJednostki }}</option>
                            {% endfor %}
                        </select>
                        <button id="addListElementBtn" class="action-button">Dodaj</button>
                    </div>                    
                </div>
        </div>
        <div class="right">
            <div class="block">
                <p class="content-text">Zaawansowane dodawanie składników</p>
                <div class="buttons">
                    <a href="{% url 'add_from_recipe' pk=shopping_list.pk %}"><button class="action-button" >Dodaj z przepisu</button></a>
                    <a href="{% url 'add_from_diet' pk=shopping_list.pk %}"><button class="action-button">Dodaj z jadłospisu</button></a>
                </div>
            </div>
            <div class="block">
                <p class="content-text">Eksport</p>
                <div class="buttons">
                    <a href="{% url 'export-shopping-list'%}" target="_blank"><button class="action-button">Eksportuj listę</button></a>
                    
                </div>
                
            </div>

            
        </div>
    </div>
    
    
</main>
{% block extra_js %}
<script>
    const addListElementUrl = "{% url 'add_list_element' pk=shopping_list.pk %}";
    const deleteListElementUrl = "{% url 'delete_list_element' pk=shopping_list.pk %}";
    const updateListElementStatusUrl = "{% url 'update_list_element_status' pk=shopping_list.pk %}";
</script>
<script src="{% static 'js/shopping_list_handlers.js' %}"></script>
{% endblock %}
{% endblock %}