{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% load static %}
<!-- This applies custom stylesheets for each module/template. -->
{% block template_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block content %}
<header>
    <h1> Implementacja przypadków użycia </h1>
</header>
<main>
    <div class="usecase-section">
        <p>2.1.2 Zarządzanie listą zakupów (Natalia Malinowska)</p>
        <a href="{% url 'shopping_list_all' %}"><button class="usecase-button">Moje listy zakupów</button></a>
    </div>
    
    <div class="usecase-section">
        <p>2.1.6 Interakcja z forum (Natalia Malinowska)</p>
        <a href=""><button class="usecase-button">Forum</button></a>
    </div>

    
</main>
{% endblock %}